USE [master]
GO
/****** Object:  Database [BD_SISTEMA_VENTA_]    Script Date: 26/09/2025 01:01:35 a. m. ******/
CREATE DATABASE [BD_SISTEMA_VENTA_]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_SISTEMA_VENTA_', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_SISTEMA_VENTA_.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_SISTEMA_VENTA__log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_SISTEMA_VENTA__log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_SISTEMA_VENTA_].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_SISTEMA_VENTA_]
GO
/****** Object:  Table [dbo].[perfil]    Script Date: 26/09/2025 01:01:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil](
	[id_perfil] [int] IDENTITY(1,1) NOT NULL,
	[nombre_perfil] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 26/09/2025 01:01:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contrasenia] [varchar](200) NOT NULL,
	[id_perfil] [int] NOT NULL,
	[estado_usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[perfil] ON 

INSERT [dbo].[perfil] ([id_perfil], [nombre_perfil]) VALUES (1, N'Administrador')
INSERT [dbo].[perfil] ([id_perfil], [nombre_perfil]) VALUES (2, N'Vendedor')
INSERT [dbo].[perfil] ([id_perfil], [nombre_perfil]) VALUES (3, N'Dueño de negocio')
SET IDENTITY_INSERT [dbo].[perfil] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellido], [correo], [contrasenia], [id_perfil], [estado_usuario]) VALUES (1, N'Gabriel', N'Sánchez', N'gabriel_sanchez88@gmail.com', N'1234', 1, 1)
INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellido], [correo], [contrasenia], [id_perfil], [estado_usuario]) VALUES (2, N'Julián', N'Rodríguez', N'Julian_Rodriguez11@gmail.com', N'1234', 2, 1)
INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellido], [correo], [contrasenia], [id_perfil], [estado_usuario]) VALUES (3, N'Carlos', N'Castillo', N'carlos_castillo@gmail.com', N'1234', 3, 1)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__2A586E0BBF2ECB5A]    Script Date: 26/09/2025 01:01:36 a. m. ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [estado_usuario]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_perfil] FOREIGN KEY([id_perfil])
REFERENCES [dbo].[perfil] ([id_perfil])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_perfil]
GO
USE [master]
GO
