USE [master]
GO
/****** Object:  Database [BD_SISTEMA_VENTA_]    Script Date: 09/11/2025 12:30:05 ******/
CREATE DATABASE [BD_SISTEMA_VENTA_]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_SISTEMA_VENTA_', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD_SISTEMA_VENTA_.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_SISTEMA_VENTA__log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD_SISTEMA_VENTA__log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_SISTEMA_VENTA_].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_SISTEMA_VENTA_]
GO
/****** Object:  Table [dbo].[Categoria_producto]    Script Date: 09/11/2025 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria_producto](
	[Id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion_categoria] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 09/11/2025 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_cliente] [varchar](100) NOT NULL,
	[Apellido_cliente] [varchar](100) NOT NULL,
	[Dni_cliente] [varchar](20) NOT NULL,
	[Genero_cliente] [varchar](20) NULL,
	[Correo_cliente] [varchar](100) NULL,
	[Telefono_cliente] [varchar](20) NULL,
	[Direccion_cliente] [varchar](150) NULL,
	[Ciudad_cliente] [varchar](100) NULL,
	[Provincia_cliente] [varchar](100) NULL,
	[Cod_postal_cliente] [int] NULL,
	[Estado_cliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 09/11/2025 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[Id_compra] [int] IDENTITY(1,1) NOT NULL,
	[Id_usuario] [int] NOT NULL,
	[Id_proveedor] [int] NOT NULL,
	[Nro_orden] [int] NOT NULL,
	[Fecha_compra] [date] NOT NULL,
	[Total_compra] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Id_compra] PRIMARY KEY CLUSTERED 
(
	[Id_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_compra]    Script Date: 09/11/2025 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_compra](
	[Id_detalle_compra] [int] IDENTITY(1,1) NOT NULL,
	[Id_compra] [int] NOT NULL,
	[Id_producto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Precio_compra] [int] NOT NULL,
 CONSTRAINT [PK_Id_detalle_compra] PRIMARY KEY CLUSTERED 
(
	[Id_detalle_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_venta]    Script Date: 09/11/2025 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_venta](
	[Id_detalle_venta] [int] IDENTITY(1,1) NOT NULL,
	[Id_venta] [int] NOT NULL,
	[Id_producto] [int] NOT NULL,
	[Precio_unitario] [decimal](18, 2) NOT NULL,
	[Cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_detalle_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_producto]    Script Date: 09/11/2025 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_producto](
	[Id_estado_producto] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion_estado_producto] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_estado_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfil]    Script Date: 09/11/2025 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil](
	[id_perfil] [int] IDENTITY(1,1) NOT NULL,
	[nombre_perfil] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 09/11/2025 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id_producto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_producto] [varchar](100) NOT NULL,
	[Descripcion_producto] [varchar](255) NULL,
	[Precio_producto] [decimal](10, 2) NOT NULL,
	[Id_estado_producto] [int] NOT NULL,
	[Stock_producto] [int] NOT NULL,
	[Id_categoria] [int] NOT NULL,
	[Codigo_producto] [varchar](200) NULL,
	[Id_Talle_Producto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 09/11/2025 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[Id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nro_Documento_proveedor] [int] NOT NULL,
	[Razon_Social] [varchar](200) NOT NULL,
	[Estado_proveedor] [int] NOT NULL,
	[Correo_electronico] [varchar](200) NOT NULL,
	[Telefono] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Id_proveedor] PRIMARY KEY CLUSTERED 
(
	[Id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Talle_producto]    Script Date: 09/11/2025 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Talle_producto](
	[Id_Talle_producto] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion_Talle_producto] [varchar](200) NULL,
	[Tipo_talle] [varchar](200) NOT NULL,
 CONSTRAINT [pk_Talle_producto] PRIMARY KEY CLUSTERED 
(
	[Id_Talle_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 09/11/2025 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contrasenia] [varchar](200) NOT NULL,
	[id_perfil] [int] NOT NULL,
	[estado_usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 09/11/2025 12:30:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[Id_venta] [int] IDENTITY(1,1) NOT NULL,
	[Id_cliente] [int] NOT NULL,
	[Id_usuario] [int] NOT NULL,
	[Tipo_documento] [varchar](50) NULL,
	[Fecha_venta] [datetime] NOT NULL,
	[Total_venta] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria_producto] ON 

INSERT [dbo].[Categoria_producto] ([Id_categoria], [Descripcion_categoria]) VALUES (1, N'Gorras')
INSERT [dbo].[Categoria_producto] ([Id_categoria], [Descripcion_categoria]) VALUES (2, N'Buzos')
INSERT [dbo].[Categoria_producto] ([Id_categoria], [Descripcion_categoria]) VALUES (3, N'Remeras')
SET IDENTITY_INSERT [dbo].[Categoria_producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id_cliente], [Nombre_cliente], [Apellido_cliente], [Dni_cliente], [Genero_cliente], [Correo_cliente], [Telefono_cliente], [Direccion_cliente], [Ciudad_cliente], [Provincia_cliente], [Cod_postal_cliente], [Estado_cliente]) VALUES (1, N'María', N'Gómez', N'38222444', N'Femenino', N'maria.gomez@example.com', N'1133344455', N'Calle Falsa 456', N'Córdoba', N'Córdoba', 5000, NULL)
INSERT [dbo].[Clientes] ([Id_cliente], [Nombre_cliente], [Apellido_cliente], [Dni_cliente], [Genero_cliente], [Correo_cliente], [Telefono_cliente], [Direccion_cliente], [Ciudad_cliente], [Provincia_cliente], [Cod_postal_cliente], [Estado_cliente]) VALUES (2, N'Juan', N'Pérez', N'40999888', N'Masculino', N'juan.perez@example.com', N'1145678901', N'Mitre 789', N'Rosario', N'Santa Fe', 2000, NULL)
INSERT [dbo].[Clientes] ([Id_cliente], [Nombre_cliente], [Apellido_cliente], [Dni_cliente], [Genero_cliente], [Correo_cliente], [Telefono_cliente], [Direccion_cliente], [Ciudad_cliente], [Provincia_cliente], [Cod_postal_cliente], [Estado_cliente]) VALUES (3, N'Carla', N'Rodríguez', N'37222111', N'Femenino', N'carla.rodriguez@example.com', N'1155566677', N'San Martín 654', N'La Plata', N'Buenos Aires', 1900, NULL)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Estado_producto] ON 

INSERT [dbo].[Estado_producto] ([Id_estado_producto], [Descripcion_estado_producto]) VALUES (1, N'Activo')
INSERT [dbo].[Estado_producto] ([Id_estado_producto], [Descripcion_estado_producto]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[Estado_producto] OFF
GO
SET IDENTITY_INSERT [dbo].[perfil] ON 

INSERT [dbo].[perfil] ([id_perfil], [nombre_perfil]) VALUES (1, N'Administrador')
INSERT [dbo].[perfil] ([id_perfil], [nombre_perfil]) VALUES (2, N'Vendedor')
INSERT [dbo].[perfil] ([id_perfil], [nombre_perfil]) VALUES (3, N'Dueño de negocio')
SET IDENTITY_INSERT [dbo].[perfil] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([Id_producto], [Nombre_producto], [Descripcion_producto], [Precio_producto], [Id_estado_producto], [Stock_producto], [Id_categoria], [Codigo_producto], [Id_Talle_Producto]) VALUES (11, N'Remera Deportiva XEp', N'Remera deportiva sin mangas - Negro - ', CAST(150.00 AS Decimal(10, 2)), 2, 10, 3, N'A86735', 2)
INSERT [dbo].[Producto] ([Id_producto], [Nombre_producto], [Descripcion_producto], [Precio_producto], [Id_estado_producto], [Stock_producto], [Id_categoria], [Codigo_producto], [Id_Talle_Producto]) VALUES (12, N'Pantalón deportivo', N'Color negro', CAST(0.00 AS Decimal(10, 2)), 2, 0, 5, N'i8474653g', 12)
INSERT [dbo].[Producto] ([Id_producto], [Nombre_producto], [Descripcion_producto], [Precio_producto], [Id_estado_producto], [Stock_producto], [Id_categoria], [Codigo_producto], [Id_Talle_Producto]) VALUES (13, N'Gorra Pequeña ', N'Gorra pequeña- Color azul - Con estampado', CAST(0.00 AS Decimal(10, 2)), 2, 0, 1, N'735t', NULL)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([Id_proveedor], [Nro_Documento_proveedor], [Razon_Social], [Estado_proveedor], [Correo_electronico], [Telefono]) VALUES (1, 65342534, N'Indumentaria SA', 1, N'Indu@gmail.com', N'3644347645')
INSERT [dbo].[Proveedor] ([Id_proveedor], [Nro_Documento_proveedor], [Razon_Social], [Estado_proveedor], [Correo_electronico], [Telefono]) VALUES (2, 43254945, N'Textil F SA', 0, N'textilF@gmail.com', N'3624754985')
INSERT [dbo].[Proveedor] ([Id_proveedor], [Nro_Documento_proveedor], [Razon_Social], [Estado_proveedor], [Correo_electronico], [Telefono]) VALUES (4, 76453452, N'Coppol Soluciones', 1, N'coppolSoluciones23@gmail.com', N'6524387492')
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Talle_producto] ON 

INSERT [dbo].[Talle_producto] ([Id_Talle_producto], [Descripcion_Talle_producto], [Tipo_talle]) VALUES (1, N'S', N'Letra')
INSERT [dbo].[Talle_producto] ([Id_Talle_producto], [Descripcion_Talle_producto], [Tipo_talle]) VALUES (2, N'M', N'Letra')
INSERT [dbo].[Talle_producto] ([Id_Talle_producto], [Descripcion_Talle_producto], [Tipo_talle]) VALUES (3, N'L', N'Letra')
SET IDENTITY_INSERT [dbo].[Talle_producto] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellido], [correo], [contrasenia], [id_perfil], [estado_usuario]) VALUES (1, N'Gabriel', N'Sánchez', N'gabriel_sanchez88@gmail.com', N'g123456', 1, 1)
INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellido], [correo], [contrasenia], [id_perfil], [estado_usuario]) VALUES (2, N'Julián', N'Rodríguez', N'Julian_Rodriguez11@gmail.com', N'j123456', 2, 1)
INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellido], [correo], [contrasenia], [id_perfil], [estado_usuario]) VALUES (3, N'Carlos', N'Castillo', N'carlos_castillo@gmail.com', N'c123456', 3, 1)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__538EA93B022A168A]    Script Date: 09/11/2025 12:30:05 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[Dni_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__538EA93B55481100]    Script Date: 09/11/2025 12:30:05 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[Dni_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Compra__52563FA2A1F8D5B7]    Script Date: 09/11/2025 12:30:05 ******/
ALTER TABLE [dbo].[Compra] ADD UNIQUE NONCLUSTERED 
(
	[Nro_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Producto_Codigo_producto]    Script Date: 09/11/2025 12:30:05 ******/
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [UQ_Producto_Codigo_producto] UNIQUE NONCLUSTERED 
(
	[Codigo_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Correo_electronico]    Script Date: 09/11/2025 12:30:05 ******/
ALTER TABLE [dbo].[Proveedor] ADD  CONSTRAINT [UQ_Correo_electronico] UNIQUE NONCLUSTERED 
(
	[Correo_electronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Nro_Documento_proveedor]    Script Date: 09/11/2025 12:30:05 ******/
ALTER TABLE [dbo].[Proveedor] ADD  CONSTRAINT [UQ_Nro_Documento_proveedor] UNIQUE NONCLUSTERED 
(
	[Nro_Documento_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Telefono]    Script Date: 09/11/2025 12:30:05 ******/
ALTER TABLE [dbo].[Proveedor] ADD  CONSTRAINT [UQ_Telefono] UNIQUE NONCLUSTERED 
(
	[Telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__2A586E0B26C8DA44]    Script Date: 09/11/2025 12:30:05 ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__2A586E0B2C0B24A7]    Script Date: 09/11/2025 12:30:05 ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__2A586E0B38C355E7]    Script Date: 09/11/2025 12:30:05 ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((1)) FOR [estado_usuario]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [Fecha_venta]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Id_proveedor] FOREIGN KEY([Id_proveedor])
REFERENCES [dbo].[Proveedor] ([Id_proveedor])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Id_proveedor]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Id_usuario] FOREIGN KEY([Id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Id_usuario]
GO
ALTER TABLE [dbo].[Detalle_compra]  WITH CHECK ADD  CONSTRAINT [FK_Id_compra] FOREIGN KEY([Id_compra])
REFERENCES [dbo].[Compra] ([Id_compra])
GO
ALTER TABLE [dbo].[Detalle_compra] CHECK CONSTRAINT [FK_Id_compra]
GO
ALTER TABLE [dbo].[Detalle_compra]  WITH CHECK ADD  CONSTRAINT [FK_Id_producto] FOREIGN KEY([Id_producto])
REFERENCES [dbo].[Producto] ([Id_producto])
GO
ALTER TABLE [dbo].[Detalle_compra] CHECK CONSTRAINT [FK_Id_producto]
GO
ALTER TABLE [dbo].[Detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Producto] FOREIGN KEY([Id_producto])
REFERENCES [dbo].[Producto] ([Id_producto])
GO
ALTER TABLE [dbo].[Detalle_venta] CHECK CONSTRAINT [FK_DetalleVenta_Producto]
GO
ALTER TABLE [dbo].[Detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Venta] FOREIGN KEY([Id_venta])
REFERENCES [dbo].[Venta] ([Id_venta])
GO
ALTER TABLE [dbo].[Detalle_venta] CHECK CONSTRAINT [FK_DetalleVenta_Venta]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([Id_categoria])
REFERENCES [dbo].[Categoria_producto] ([Id_categoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Estado] FOREIGN KEY([Id_estado_producto])
REFERENCES [dbo].[Estado_producto] ([Id_estado_producto])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Estado]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [fk_Talle_Producto] FOREIGN KEY([Id_Talle_Producto])
REFERENCES [dbo].[Talle_producto] ([Id_Talle_producto])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [fk_Talle_Producto]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_perfil] FOREIGN KEY([id_perfil])
REFERENCES [dbo].[perfil] ([id_perfil])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_perfil]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([Id_cliente])
REFERENCES [dbo].[Clientes] ([Id_cliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Usuario] FOREIGN KEY([Id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Usuario]
GO
USE [master]
GO
