USE [master]
GO
/****** Object:  Database [BD_SISTEMA_VENTA]    Script Date: 22/09/2025 06:26:28 p. m. ******/
CREATE DATABASE [BD_SISTEMA_VENTA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_SISTEMA_VENTA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_SISTEMA_VENTA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_SISTEMA_VENTA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_SISTEMA_VENTA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_SISTEMA_VENTA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_SISTEMA_VENTA]
GO
/****** Object:  Table [dbo].[categoria_producto]    Script Date: 22/09/2025 06:26:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria_producto](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_categoria] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 22/09/2025 06:26:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre_cliente] [varchar](100) NOT NULL,
	[apellido_cliente] [varchar](100) NOT NULL,
	[dni_cliente] [varchar](20) NOT NULL,
	[genero_cliente] [varchar](20) NULL,
	[correo_cliente] [varchar](100) NULL,
	[telefono_cliente] [varchar](20) NULL,
	[direccion_cliente] [varchar](100) NULL,
	[ciudad_cliente] [varchar](100) NULL,
	[provincia_cliente] [varchar](100) NULL,
	[codigo_postal_cliente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_venta]    Script Date: 22/09/2025 06:26:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_venta](
	[id_detalle_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[precio_unitario] [decimal](18, 2) NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_producto]    Script Date: 22/09/2025 06:26:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_producto](
	[id_estado_producto] [int] IDENTITY(1,1) NOT NULL,
	[descripcion_estado_prod] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 22/09/2025 06:26:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[estado_usuario] [int] IDENTITY(1,1) NOT NULL,
	[estado_descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[estado_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[perfil]    Script Date: 22/09/2025 06:26:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[perfil](
	[id_perfil] [int] IDENTITY(1,1) NOT NULL,
	[perfil_descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 22/09/2025 06:26:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre_producto] [varchar](50) NOT NULL,
	[descripcion_producto] [varchar](100) NOT NULL,
	[precio_producto] [decimal](10, 2) NOT NULL,
	[estado_producto] [int] NOT NULL,
	[stock_producto] [int] NOT NULL,
	[categoria_producto] [int] NOT NULL,
	[deleted_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 22/09/2025 06:26:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contrasenia] [varchar](200) NOT NULL,
	[id_perfil] [int] NOT NULL,
	[estado_usuario] [int] NOT NULL,
	[dni] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[venta]    Script Date: 22/09/2025 06:26:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venta](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha_venta] [date] NOT NULL,
	[total_venta] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categoria_producto] ON 

INSERT [dbo].[categoria_producto] ([id_categoria], [descripcion_categoria]) VALUES (1, N'Remeras')
INSERT [dbo].[categoria_producto] ([id_categoria], [descripcion_categoria]) VALUES (2, N'Buzos')
INSERT [dbo].[categoria_producto] ([id_categoria], [descripcion_categoria]) VALUES (3, N'Gorras')
SET IDENTITY_INSERT [dbo].[categoria_producto] OFF
GO
SET IDENTITY_INSERT [dbo].[estado_producto] ON 

INSERT [dbo].[estado_producto] ([id_estado_producto], [descripcion_estado_prod]) VALUES (1, N'Activo')
INSERT [dbo].[estado_producto] ([id_estado_producto], [descripcion_estado_prod]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[estado_producto] OFF
GO
SET IDENTITY_INSERT [dbo].[estados] ON 

INSERT [dbo].[estados] ([estado_usuario], [estado_descripcion]) VALUES (1, N'Activo')
INSERT [dbo].[estados] ([estado_usuario], [estado_descripcion]) VALUES (2, N'Inactivo')
SET IDENTITY_INSERT [dbo].[estados] OFF
GO
SET IDENTITY_INSERT [dbo].[perfil] ON 

INSERT [dbo].[perfil] ([id_perfil], [perfil_descripcion]) VALUES (1, N'Administrador')
INSERT [dbo].[perfil] ([id_perfil], [perfil_descripcion]) VALUES (2, N'Vendedor')
INSERT [dbo].[perfil] ([id_perfil], [perfil_descripcion]) VALUES (3, N'Dueño de negocio')
SET IDENTITY_INSERT [dbo].[perfil] OFF
GO
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([id_producto], [nombre_producto], [descripcion_producto], [precio_producto], [estado_producto], [stock_producto], [categoria_producto], [deleted_at]) VALUES (1, N'Auto Ferrari', N'Auto coleccionable', CAST(400001.00 AS Decimal(10, 2)), 1, 2, 4, NULL)
INSERT [dbo].[productos] ([id_producto], [nombre_producto], [descripcion_producto], [precio_producto], [estado_producto], [stock_producto], [categoria_producto], [deleted_at]) VALUES (2, N'Auto Ferrari', N'Auto coleccionable de la escuderia ''Ferrari''', CAST(45000.00 AS Decimal(10, 2)), 1, 33, 4, NULL)
INSERT [dbo].[productos] ([id_producto], [nombre_producto], [descripcion_producto], [precio_producto], [estado_producto], [stock_producto], [categoria_producto], [deleted_at]) VALUES (3, N'Auto Mercedes', N'Auto coleccionable de la escuderia Mercedes AMG', CAST(45000.00 AS Decimal(10, 2)), 1, 15, 4, NULL)
SET IDENTITY_INSERT [dbo].[productos] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellido], [correo], [contrasenia], [id_perfil], [estado_usuario], [dni]) VALUES (5, N'Gabriel', N'Sanchez', N'gabriel_sanchez88@gmail.com', N'1234', 1, 1, N'12345678')
INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellido], [correo], [contrasenia], [id_perfil], [estado_usuario], [dni]) VALUES (6, N'Julian', N'Rodriguez', N'Julian_Rodriguez11@gmail.com', N'1234', 2, 1, N'12345921')
INSERT [dbo].[usuarios] ([id_usuario], [nombre], [apellido], [correo], [contrasenia], [id_perfil], [estado_usuario], [dni]) VALUES (7, N'Carlos', N'Castillo', N'carlos_castillo@gmail.com', N'1234', 3, 1, N'76218678')
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__clientes__F53D4BA4786CAFD1]    Script Date: 22/09/2025 06:26:29 p. m. ******/
ALTER TABLE [dbo].[clientes] ADD UNIQUE NONCLUSTERED 
(
	[dni_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__D87608A7E87FF0C7]    Script Date: 22/09/2025 06:26:29 p. m. ******/
ALTER TABLE [dbo].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK_detalle_venta_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK_detalle_venta_producto]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK_detalle_venta_venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[venta] ([id_venta])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK_detalle_venta_venta]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([categoria_producto])
REFERENCES [dbo].[categoria_producto] ([id_categoria])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_productos_estado] FOREIGN KEY([estado_producto])
REFERENCES [dbo].[estado_producto] ([id_estado_producto])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_productos_estado]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_estado] FOREIGN KEY([estado_usuario])
REFERENCES [dbo].[estados] ([estado_usuario])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_estado]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_perfil] FOREIGN KEY([id_perfil])
REFERENCES [dbo].[perfil] ([id_perfil])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_perfil]
GO
ALTER TABLE [dbo].[venta]  WITH CHECK ADD  CONSTRAINT [FK_venta_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[venta] CHECK CONSTRAINT [FK_venta_usuario]
GO
USE [master]
GO
